.parent{
    width: 100%;
    height: 100%;
}
.son{
    float: left;
    width: 60%;
    height: 650px;
    background-color: rgb(4, 56, 44);
    color: white;
}
.daughter{
    float: right;
    width: 40%;
}
h1{
    position: relative;
    left: 70px;
    font-size: 70px;
    font-family: 'Segoe UI';

}
img{
    width: 500px;
    height: 650px;
}
h2{
    position: relative;
    left: 70px;
    bottom:25px;
    font-size: 25px;
    font-family:'Segoe UI';
    font-weight: 450;
}
.p0{
    position: relative;
    left: 70px;
    top: 50px;
    font-size: 20px;
}
.p1{
    position: relative;
    left: 70px;
    top: 35px;
    font-size: 20px;
    
}
.p2{
    color: black;
    font-family: 'Franklin Gothic Medium';
    font-size: 16px;
    position: relative;
    left: 20px;
    top: 10px;
}
.box{
    position: relative;
    top: 50px;
    left: 67px;
    background-color: rgb(255, 187, 0);     
    width: 300px;
    height: 40px;    
    border-radius: 20px;
}
